@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

body {
  background-color: #FFF;
  padding: 0px;
  margin: 0;
  color: #343a40; 
  padding-top:5rem;
}

h2, h4, p, ul, li {
  font-family: 'Libre Baskerville', serif;
  color: #454649;
  font-size: 1.2em;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  color: #454649;
  font-size: 2em;
  font-weight: bold;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: white;
  display: block;
  position: fixed;
  padding-left: 0px;
  top: 0;
  width: 100%;
  padding-top: 0px;
  padding-left: 3rem;
  font-size: 1em;
}

ul.header li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding-right: 60px;
  display: inline-block;
  padding: 20px 20px;
  margin-left: 80px;
}

  @media screen and (max-width: 570px) {
    ul.header li a {
      font-size: 0.8em;
      padding: 15px;
      margin: 0px;
    }
  }

ul.header li a:hover, a:active, a:visited, a:focus r {
  text-decoration: underline; 
}

.content {
  background-color: white;
  padding-top: 3rem;
  padding: 1.3rem;
  margin-top: 5rem;
  margin-left: 15rem;
  margin-right: 15rem;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .content {
    margin-top: 110px;
    margin-left: 3px;
    margin-right: 3px;
  }
}

.content a {
  color:#454649;
  text-decoration: underline;
  font-size: 1.1rem;
  font-weight: bold;
}

.content a:hover {
  color:#454649;
  text-decoration: none;
}

.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}


/* Authentication */
.auth {
  margin-top: 50px;
    text-align: center;
}

.logo {
    text-align: center;
    font-weight: 100;
    font-size: 80px;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

a.logo {
    color: #5B5B5B;
}

a {
    cursor: pointer;
}

.auth .card {
    width: 400px;
    margin: 0 auto;
}


@media screen and (max-width: 480px) {
  .auth .card {
    width: 100%;
  }

  .logo {
    font-size: 60px;
  }
}

.auth .header {
    font-size: 18px;
}

.auth .row {
    margin-bottom: 0px;
}

.auth .username {
  margin-top: 0px;
}

.auth .btn {
    width: 90%;
}

.auth .footer {
    border-top: 1px solid #E9E9E9;
    padding-bottom: 21px;
}